<div data-fls-index class="index">
<section class="hero">
    <div class="hero__decor hero__decor--left">
        <img src="@img/hero/decor-left.svg" alt="">
    </div>
    <div class="hero__decor hero__decor--bottom">
        <img src="@img/hero/decor-bottom.png" alt="">
    </div>

    <div class="hero__decor hero__decor--right">
        <img src="@img/hero/decor-right.svg" alt="">
    </div>
    <div class="hero__container">
 <h1 class="hero__title">Cera, where
creativity meets</h1>
<h3 data-fls-sectiontitle class=" hero__subtitle sectiontitle">
                        Craftsmanship
                    </h3>
                   
<div class="hero__cards">
    <div class="hero__card hero__card--candles">
      <img src="@img/hero/card-candles.png" alt="Candles crafting workshop">
    </div>
<div class="hero__card hero__card--ceramics">
      <img src="@img/hero/card-ceramics.png" alt="Ceramic modeling workshop">
    </div>
    <div class="hero__card hero__card--decorative">
     <img src="@img/hero/card-decorative-ceramics.png" alt="Decorative ceramics workshop">
    </div>
</div>
</section>
</div>
