<div data-fls-index class="index">
<section class="hero">
    <div class="hero__decor hero__decor--left">
        <img src="@img/hero/decor-left.svg" alt="">
    </div>
    <div class="hero__decor hero__decor--bottom">
        <img src="@img/hero/decor-bottom.png" alt="">
    </div>

    <div class="hero__decor hero__decor--right">
        <img src="@img/hero/decor-right.svg" alt="">
    </div>
    <div class="hero__container">
 <h1 class="hero__title">Cera, where
creativity meets</h1>
<h3 data-fls-sectiontitle class=" hero__subtitle sectiontitle">
                        Craftsmanship
                    </h3>
                   
<div class="hero__cards">
    <div class="hero__card hero__card--candles">
      <img src="@img/hero/card-candles.png" alt="Candles crafting workshop">
    </div>
<div class="hero__card hero__card--ceramics">
      <img src="@img/hero/card-ceramics.png" alt="Ceramic modeling workshop">
    </div>
    <div class="hero__card hero__card--decorative">
     <img src="@img/hero/card-decorative-ceramics.png" alt="Decorative ceramics workshop">
    </div>
</div>
</section>
<section data-fls-watcher class="creationOfProducts">
    <div class="creationOfProducts__container">
        <div class="creationOfProducts__about about-creationOfProducts">
        <div class="about-creationOfProducts__text">
    <p>Unleash your creativity through pottery - shape clay into extraordinary works of art. Our nurturing studio welcomes both beginners and seasoned potters, offering various techniques from wheel throwing to hand sculpting.</p>
    <p>Indulge in the captivating realm of scented candles. Let delicate aromas transport you to serene realms, infusing warmth and tranquility into your surroundings.</p>
        </div>
</div>
    <div class="creationOfProducts__workshops workshops-creationOfProducts">
      
                    <h2 data-fls-sectiontitle class=" creationOfProducts__title bigtitle">
                        <span class="crafted">Crafted <img class="cups" src="@img/creationOfProducts/Illus.svg" alt=""></span>  <span class="universe">Universe</span> 
                    </h2>
                  <div class="workshops-creationOfProducts__content">
                    <h3 class="creationOfProducts__subtitle">Experience the Art of Pottery, Scented Candles, and Workshops with our experts.</h3>
                    <button class="creationOfProducts__btn button button--white" data-fls-button><span>Upcoming Workshops</span> <svg class="arrow"  xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
  <path d="M3.75 12H20.25" stroke="#A94C2E" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
  <path d="M13.5 5.25L20.25 12L13.5 18.75" stroke="#A94C2E" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
</svg></button>
                  </div>  
       
    </div>
    </div>
    <div class="creationOfProducts__images">
         <img class="ellipse" src="@img/creationOfProducts/ellipse.png" alt="ellipse">
   <img class="eyes" src="@img/creationOfProducts/eyes.svg" alt="eyes">
   
</div>
 
</section> 
<section class="craftGallery">
    <div class="craftGallery__container">
        <figure data-fls-watcher class="craftGallery__item craftGallery__item--candle">
            <img src="@img/craftGallery/candle.png" alt="candle" class="craftGallery__image">
            <img src="@img/craftGallery/make krafts.svg" alt="text" class="text-make">
        </figure>
        <figure data-fls-watcher class="craftGallery__item craftGallery__item--painting">
            <img src="@img/craftGallery/painting.png" alt="painting" class="craftGallery__image">
        </figure>
        <figure data-fls-watcher class="craftGallery__item craftGallery__item--cups">
            <img src="@img/craftGallery/cups.png" alt="cups" class="craftGallery__image">
        </figure>
        <figure data-fls-watcher class="craftGallery__item craftGallery__item--candlemedium">
            <img src="@img/craftGallery/candle medium.png" alt="candle" class="craftGallery__image">
        </figure>
        <figure data-fls-watcher class="craftGallery__item craftGallery__item--candlesmall">
            <img src="@img/craftGallery/candle small.png" alt="candle" class="craftGallery__image">
        </figure>
         <figure data-fls-watcher class="craftGallery__item craftGallery__item--pottery">
            <img src="@img/craftGallery/pottery.png" alt="pottery" class="craftGallery__image">
            <img src="@img/craftGallery/Group 1.png" alt="text" class="text-take">
            <!-- <img src="@img/craftGallery/creations.svg" alt="text" class="text-creations"> -->
        </figure>
        
    </div>
</section>
<section   class="collectionOfproducts">
    <div class="collectionOfproducts__container">
        <div data-fls-watcher class="collectionOfproducts__info">
            <h3 data-fls-watcher  data-fls-sectiontitle class=" collectionOfproducts__title sectiontitle sectiontitle--prymary4 sectiontitle--left">
                     Our collections of craft products and creative kits
            </h3> 
            <div data-fls-watcher class="collectionOfproducts__text">
            <p>To complement your lifestyle, we offer a selection of unique ceramic accessories. From decorative vases to stylish home accents, our handcrafted pieces add character and charm to any space.</p>
        </div>
        </div>
        
        <div class="collectionOfproducts__image image-collectionOfproducts ">
        <div  data-fls-watcher class="image-collectionOfproducts__wrapper"> 
            <img src="@img/collectionOfproducts/image.jpg" alt="Illustration of pottery tools, a ceramic vase, and a bowl">
        </div>
           </div>
    </div>
</section>
</div>
