<header data-fls-header class="header">
    <div class="header__container">
        <a href="" class="header__logo">
            <img src="@img/logo.svg" alt="Cera" />
        </a>
        <div class="header__action">
            <div class="header__decor">
                <img src="@img/header/arrow.svg" alt="arrow icon" />
            </div>
            <include
                src="@components/layout/menu/menu.html"
                locals='{"active":"[[active]]"}'
            ></include>
        </div>
    </div>
</header>
