.header {
    padding-top: 11px;

    // .header__container
    &__container {
        min-height: toRem(149.8);
        display: flex;
        gap: 10px;
        justify-content: space-between;
    }

    // .header__logo

    &__logo {
        margin-top: 27px;
    }

    // .header__action

    &__action {
        position: relative;
        display: flex;
        gap: 26.2px;
        @include adaptiveValue('gap', 26.2, 10);
    }

    // .header__decor

    &__decor {
        width: clamp(90px, 10vw, 150px);
        transition: all ease 0.5s;
        html[data-fls-menu-open] & {
            transform: rotate(10deg);
        }
        img {
            width: 100%;
            height: auto;
        }
    }
}
