.menu {
    // .menu__icon
    &__icon {
    }
    // .menu__body
    &__body {
        position: absolute;
        top: 100px;
        right: 20%;
        padding: 20px;
        width: clamp(240px, 22vw, 320px);
        background-color: var(--primary4-color);
        border-radius: 12px;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
        opacity: 0;
        visibility: hidden;
        transform-origin: top right;
        transform: scale(0.85);

        transition:
            opacity 0.3s,
            transform 0.3s,
            visibility 0.3s;

        html[data-fls-menu-open] & {
            opacity: 1;
            visibility: visible;
            transform: scale(1);
        }
    }
    // .menu__list
    &__list {
        @media (max-width: toEm($mobile)) {
        }
    }
    // .menu__item
    &__item {
        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }
    // .menu__link
    &__link {
        @media (max-width: toEm($mobile)) {
        }
        @include adaptiveValue('font-size', 25, 18);

        position: relative;
         display: inline-block;
        &::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: -4px;
            width: 0;
            height: 2px;
            background: var(--main-color);
            transition: width 0.5s ease;
        }
transition: all ease 0.3s;
        @media (any-hover: hover) {
            &:hover::after {
                width: 100%;
            }
        }
    }
}

//Burger Icon
.icon-menu {
    display: block;
    position: relative;
    width: toRem(58);
    height: toRem(58);
    margin-top: 13px;
    border-radius: 50%;
    z-index: 5;
    background-color: #fff;
    @media (any-hover: none) {
        cursor: default;
    }
    span,
    &::before,
    &::after {
        content: '';
        transition: all 0.3s ease 0s;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 20.625px;
        height: 1.5px;
        background-color: var(--gray900-color);
    }
    &::before {
        top: calc(50% - 7px);
    }
    &::after {
        top: calc(50% + 5px);
    }
    span {
        top: calc(50% - 1px);
    }
    html[data-fls-menu-open] & {
        span {
            width: 0;
        }
        &::before,
        &::after {
        }
        &::before {
            top: calc(50% - 1px);
            transform: translateX(-50%) rotate(-45deg);
        }
        &::after {
            top: calc(50% - 1px);
            transform: translateX(-50%) rotate(45deg);
        }
    }
}
